<!DOCTYPE html>
<html ng-app="mainApp">

<!-- Bootstrap theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
    
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<body>
    <h1>WeSizeIT (Web Client)</h1>
    <div ng-controller="displayCtrl" ng-model="team">
        <ul class="list-group" ng-repeat="user in team">
            <li class="list-group-item">
            {{user.userName}}
            <span class="large badge">Risk: {{user.risk}}</span>
            <span class="badge">Complexity: {{user.complexity}}</span>
            <span class="badge">Effort: {{user.effort}}</span>    
            <span class="badge">Size: {{user.size}}</span>
            </li>  
        </ul>
        
    </div>
</body>
    
    <!-- Phonegap for Adobe PhoneGap builder
    ================================================== -->
    <script src="phonegap.js"></script>
    
    <!-- Angular
    ================================================== -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/ui-bootstrap-0.13.4.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    
    <!-- JQuery
    ================================================== -->
    <script src="js/jquery-1.11.3.min.js"></script>
    
    <!-- Bootstrap
    ================================================== -->
    <script src="js/bootstrap.min.js"></script>  
    
    <script src="js/controller.js"></script>
    <script src="js/app.js"></script>
    
    <!-- SocketIO
    ================================================== -->
    <script src="js/socket.io.js"></script>
</html>