<!DOCTYPE html>
<html ng-app="mainApp">

<!-- Bootstrap theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
    
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<head>
    <title>WeSizeIT</title>
</head>
<body>
    <h1>WeSizeIT (Web Client)</h1>
    <div ng-controller="displayCtrl" ng-model="team" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Result</h3>
                    </div>
                    <div table-responsive>
                        <table class="table">
                            <thead>
                              <tr class="text-center">
                                <th>#</th>
                                <!--th></th-->
                                <th>User</th>
                                <th>Size</th>
                                <th>Risk</th>
                                <th>Complexity</th>
                                <th>Effort</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="user in team" class="text-center">
                                <td>{{user.userId +1}}</td>
                                <!--td ng-class = "{text-success: (user.connected == 'true'), offline-status: (user.connected == 'false')}"><span class="glyphicon glyphicon-signal">{{user.connected}}</span></td-->
                                <td>{{user.userName}}</td>
                                <td ng-class = "{warning: (user.higherSize == 'true'), success: (user.lowerSize == 'true')}">{{user.size}}</td>
                                <td ng-class = "{warning: (user.higherRisk == 'true'), success: (user.lowerRisk == 'true')}">{{user.risk}}</td>
                                <td ng-class = "{warning: (user.higherComplexity == 'true'), success: (user.lowerComplexity == 'true')}">{{user.complexity}}</td>
                                <td ng-class = "{warning: (user.higherEffort == 'true'),success: (user.lowerEffort == 'true')}">{{user.effort}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>   
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summary</h3>
                    </div>
                    <!-- Risk Summary-->
                    <div class="row">
                        <div class="panel-body text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Risk</h3>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MIN</th>
                                        <th>MAX</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{lowerRiskValue}}</td>
                                        <td>{{higherRiskValue}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in lowerRiskVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in higherRiskVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Complexity Summary-->
                     <div class="row">
                        <div class="panel-body text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Complexity</h3>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MIN</th>
                                        <th>MAX</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{lowerComplexityValue}}</td>
                                        <td>{{higherComplexityValue}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in lowerComplexityVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in higherComplexityVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--  Summary-->
                     <div class="row">
                        <div class="panel-body text-center">
                            <div class="panel-heading">
                                <h3 class="panel-title">Effort</h3>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>MIN</th>
                                        <th>MAX</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{lowerEffortValue}}</td>
                                        <td>{{higherEffortValue}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in lowerEffortVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item" ng-repeat="user in higherEffortVoters track by $index">
                                                    {{user}}
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    
    <!-- Phonegap for Adobe PhoneGap builder
    ================================================== -->
    <script src="phonegap.js"></script>
    
    <!-- Angular
    ================================================== -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <script src="js/ui-bootstrap-0.13.4.min.js"></script>
    <script src="js/angular-route.min.js"></script>

    
    <!-- JQuery
    ================================================== -->
    <script src="js/jquery-1.11.3.min.js"></script>
    
    <!-- Bootstrap
    ================================================== -->
    <script src="js/bootstrap.min.js"></script>  
    
    <script src="js/controller.js"></script>
    <script src="js/app.js"></script>
    
    <!-- SocketIO
    ================================================== -->
    <script src="js/socket.io.js"></script>
</html>