<div>
        <a class="open-menu-btn" href="" ng-click="toggle()">Menu</a>
        <pageslide class= "menu-panel" ps-open="checked" ps-side="left" ps-push="true">
            <div style="padding:20px" id="demo-right">
                <h2>Hello User</h2>
                <p>Tell me whou you are</p>
                <div class="input-group">
                    <input ng-model="model.userName" type="text" class="form-control" placeholder="Type here.." aria-describedby="basic-addon2">
                </div>
                <a ng-click="toggle()" class="tiny button" >Close</a>
            </div>
        </pageslide>
    </div>